<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentalhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rental_hub_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rental_hub_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="com.example.rentalhub.not_found_error"
            android:exported="false" />
        <activity
            android:name="com.example.rentalhub.forgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rentalhub.addProductActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rentalhub.productPage_Activity"
            android:exported="false" />
        <activity
            android:name="com.example.rentalhub.signInActivity"
            android:exported="false" />
        <activity
            android:name="com.example.rentalhub.signUpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.example.rentalhub.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rentalhub.editProfile"
            android:exported="false" />
        <activity
            android:name="com.example.rentalhub.MainActivity"
            android:exported="false" />
    </application>

</manifest>